html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
    display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  color: azure;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.container__footer {
  flex-shrink: 0;
}

.container__main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.container__footer {
  background:rgb(94, 95, 94);
}

.container__left {
  width: 30%;
}

.container__right {
  flex-grow: 1;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.nav-link {
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
}

.style {
  border: 1px solid black;
}

.input-search-field {
  width: 100%;
  background: black;
  padding: 15px;
  color: white;
}

input {
  width: 75%;
  padding: 10px 5px;
  border-radius: 2px;  
}

.input-search {
  padding: 10px;
}

.card-wrapper {
  background-color: rgb(218, 215, 215);
  border-radius: 10px;
  box-shadow: 2px -2px 2px rgb(195, 191, 191);
} 

.card-style {
  margin: 10px;
}

.card_description {
  text-shadow: 5px 8px 4px;
}

.card_author_title {
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.bi {
  margin: 10px;
  width: 4%;
  align-items: center;
  cursor: pointer;
}

/* button group */
.order:hover {
  
}

/* .favorite::after { 
  content: attr(data-title); 
} */

li {
  list-style-type: none;
}

.category {
  text-decoration: none;
  cursor: pointer;
}

.favorite:hover::after {
  content: attr(data-title);
}

.bi-caret-down,
.bi-caret-up,
.bi-caret-down-fill,
.bi-caret-up-fill {
  cursor: pointer;
}

.books-image {
  width: 100px;
  height: 100px;
}

.quote-content {
  text-shadow: 1px -1px 1px rgb(94, 95, 94);
}

.card-path {
  border: 1px solid rgb(94, 95, 94);
}


.card-image {
  width: 300px;

}

/* card */

.path-text {
  color: blue;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

/* modal */
.modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 3px 3px 3px 3px red;
}

.modal-main-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 1s;
  border-color: white; 
}

@keyframes animatetop {
  from {top: -200px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close-button {
  color: black;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* end of modal */

/* orders */

.header-order {
  color: yellow;
}
.header-order:hover {
  color: blue;
}

/* user */

.user-style {
  font-weight: bold;
  text-shadow: 1px 1px 2px grey;
}