#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  flex: 0 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  color: azure;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

 .container__main {
  display: flex;
  flex-direction: row;
}

.container__footer {
  background:rgb(94, 95, 94);
}

.container__left {
  width: 30%;
}

.favorite-text {
  background-repeat: space;
  background-size: 1rem 1rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='red' class='bi bi-arrow-through-heart-fill' viewBox='0 0 20 21'><path fill-rule='evenodd' d='M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z'/></svg>");
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.nav-link {
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
}

/* .style {
  border: 1px solid black;
} */

section {
  flex: 1 0 auto; 
}

.input-search-field {
  width: 70%;
  background: black;
  padding: 15px;
  color: white;
  margin: 0 auto;
}

input {
  width: 50%;
  padding: 10px 5px;
  border-radius: 2px;  
}

.input-search {
  padding: 10px;
}

.card-wrapper {
  background-color: rgb(218, 215, 215);
  border-radius: 10px;
  box-shadow: 2px -2px 2px rgb(195, 191, 191);
} 

.card-style {
  margin: 10px;
}

.card_description {
  text-shadow: 5px 8px 4px;
}

.card_author_title {
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.bi {
  margin: 10px;
  width: 4%;
  align-items: center;
  cursor: pointer;
}

/* button group */
.order:hover {
  
}

/* .favorite::after { 
  content: attr(data-title); 
} */

li {
  list-style-type: none;
}

.category {
  text-decoration: none;
  cursor: pointer;
}

.favorite:hover::after {
  content: attr(data-title);
}

.bi-caret-down,
.bi-caret-up,
.bi-caret-down-fill,
.bi-caret-up-fill {
  cursor: pointer;
}

.books-image {
  width: 100px;
  height: 100px;
}

.quote-content {
  text-shadow: 1px -1px 1px rgb(94, 95, 94);
}

.card-image {
  width: 300px;

}

/* card */

.path-text {
  color: blue;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

/* payment card */

.payment_card_view {
  width: 320px;
  height: 200px;
  border-radius: 5px;
  background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612750915_173-p-goluboi-fon-s-perelivami-211.jpg');
  background-size: cover;
  box-shadow: 7px 5px 5px black;
}

.wifi {
  transform: rotate(90deg);
}

/* modal */
.modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 3px 3px 3px 3px red;
}

.modal-main-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 1s;
  border-color: white; 
}

@keyframes animatetop {
  from {top: -200px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close-button {
  color: black;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* end of modal */

/* orders */

.header-order {
  color: yellow;
}
.header-order:hover {
  color: blue;
}

/* user */

.user-style {
  font-weight: bold;
  text-shadow: 1px 1px 2px grey;
}