
.button_search {
  background: white;
  border-radius: 50%;
  font-size: 20px;
  border: 1px solid white;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
}

.button_search:hover {
  background-color: grey;
  color: white;
}

.bi-search {
  color: white;
}

.searchWindow {
  
}